body {
    background-color: lightblue;
    font-family: 'Roboto';
    border: 1px solid red;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
      
  .header {
    border: 1px solid red;
  }